.App {
  width: 100%;
  padding: 0 20px;
  background-color: var(--backgroundColor);
  min-height: 100vh;
  padding-top: 30px;
}

@media only screen and (min-width: 1024px){
  .App {
    padding: 0;
    position:relative;
  }
}
