.button {
  background: var(--accentColor);
  box-shadow: var(--shadow);
  border-radius: 36px;
  padding: 0 20px;
  height: 40px;
  color: var(--lightTextColor);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border: none;
  transition-duration: 0.2s;
}
.button-legend-container {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.button:hover {
  background: #70d1a5;
  cursor: pointer;
  box-shadow: var(--shadowHover);
}
.session-button-container {
  width:100%;
  max-width:300px;
  margin:auto;
  height:150px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:relative;
}
.session-button-container .button-legend-container:nth-child(1) {
  position:absolute;
  bottom:0;
  left:0;
}
.session-button-container .button-legend-container:nth-child(4) {
  position:absolute;
  bottom:0;
  right:0;
}
.session-button-container .button-legend-container:nth-child(2), .session-button-container .button-legend-container:nth-child(3) {
  position:absolute;
  top:0;
}
.session-button-container .button-legend-container:nth-child(2) {
  left:40%;
  transform:translateX(-50%);
}
.session-button-container .button-legend-container:nth-child(3) {
  left:60%;
  transform:translateX(-50%);
}
.session-button-container .button-legend {
  color:#AFACAC;
  font-size:10px;
}
.session-button-container .session-button {
  width:100px;
  height:100px;
  border-radius:100%;
  opacity:0.8;
  transition:all 0.2s ease-in-out;
  background-color:white;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
  border:none;
}
.session-button-container .session-button img {
  width:24px;
  height:24px;
}
.session-button-container .session-button:hover {
  opacity:1;
  box-shadow:0 0 7px rgba(0, 0, 0, 0.2);

}

.session-button-container button.hidden-return {
  display : none;
}

.session-button-container button.session-button.return {
  width: 28px;
  height: 28px;
  min-height:28px;
  min-width:28px;
  box-shadow:none;
  border:1px solid #AFACAC;
  display:flex;
  justify-content:center;
  align-items:center;
}

.session-button-container button.session-button.return img {
  width: 12px;
  height: 12px;
}
.session-button-container button.session-button.more-info {
  width:28px;
  height:28px;
  text-align:center;
  color:#AFACAC;
  border:1px solid #AFACAC;
  box-shadow:none;
}
@media only screen and (min-width:1024px) {
  .session-button-container .button-legend-container:nth-child(3) {
    display:none;
  }
  .session-button-container .button-legend-container:nth-child(2) {
    left:50%;
  }
}