.drawer-container {
    width:100vw;
    max-width: 500px;
    position:fixed;
    z-index: 9999999999;
    margin:auto;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    overflow: hidden;
    transition:all 0.4s ease-in-out;
}
.drawer-container .drawer-default-director {
    text-transform:italic;
}
.drawer-container.closed {
    height:0;
}
.drawer-container.opened {
    height:90%;
}
.drawer-overlay {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:-1;
    opacity:0;
    transition:all 0.4s ease-in-out;
}
.drawer-overlay.displayed {
    opacity:1;
    z-index:999999999;
}
.drawer-container .drawer-movie-all-info-container {
    height:100%;
    width:100%;
    top:0;
    background-color:white;
    overflow-y:auto;
    position:relative;
    z-index:3;
    text-align:left;
    scroll-behavior: smooth;
}
.drawer-container .close-drawer {
    position:sticky;
    content:'';
    top:0;
    height:35px;
    width:100%;
    background-color:white;
    border-radius:var(--radius) var(--radius) 0 0;
    display:flex;
    justify-content:center;
    align-items:center;
}
.drawer-container .close-drawer span {
    width:40px;
    height:6px;
    border-radius:var(--radius);
    background-color:rgba(0, 0, 0, 0.2);
}
.drawer-container .drawer-movie-all-info-container .banner-link-rating-container {
    top:0;
    height:300px;
    width:100%;
    transition:height 0.2s ease-in-out;
}
.drawer-container .drawer-movie-all-info-container .button {
  width: fit-content;
  line-height:28px;
  height:30px;
  display: flex;
  align-items: center;
  font-size:14px;
  margin-bottom:0;
}
.drawer-container .drawer-movie-all-info-container .button .drawer-play-icon  {
    background-image:url('../images/play-icon.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:16px;
    width:16px;
    display:inline-block;
    margin-right:5px;
    padding-top:2px;
}

.drawer-container .drawer-movie-all-info-container .drawer-movie-banner {
    height:30%;
    max-height:200px;
    width:100%;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.drawer-container .drawer-movie-all-info-container .drawer-rating-container .star {
    width:18px;
    height:18px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    display:block;
    margin: 0 2px;
}
.drawer-container .drawer-movie-all-info-container .drawer-rating-container .star.full {
    background-image:url("../images/star-full.png");
}
.drawer-container .drawer-movie-all-info-container .drawer-rating-container .star.half {
    background-image:url("../images/star-half.png");
}
.drawer-container .drawer-movie-all-info-container .drawer-rating-container .star.empty {
    background-image:url("../images/star-empty.png");
}
.drawer-container .drawer-movie-all-info-container .drawer-link-rating {
    display:flex;
    width:100%;
    height:70px;
    justify-content:space-between;
    align-items:center;
    padding: 20px 15px 20px 10px;
    background-color:white;
    position:sticky;
    top:-2px;
    z-index:999999;
}
.drawer-container .drawer-movie-all-info-container .drawer-link-rating a:hover {
    text-decoration:none;
}
.drawer-container .drawer-movie-all-info-container .drawer-link-rating .drawer-rating-container {
    width:130px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.drawer-container .drawer-movie-all-info-container .drawer-link-rating .drawer-rating-container .global-rating {
    margin-left:10px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-info-container {
    padding:0 15px;
    margin-top:15px;
    margin-bottom:30px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-info-container span {
    display:block;
    margin-bottom:20px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-info-container p {
    margin-block-end:0px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting {
    padding:0 15px;
    margin-bottom:100px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting h5 {
    text-transform:uppercase;
    margin-bottom:30px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor-container .drawer-actor-img-name-container {
    width: 114px;
    height: 214px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor-container .drawer-actor-img-name-container p {
    text-align:center;
    font-size:15px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor-container {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor {
    width:100px;
    height:150px;
    margin:7px;
    border-radius:var(--radius);
    background-color:rgba(0, 0, 0, 0.3);
    position:relative;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor::before {
    position:absolute;
    content:'';
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:transparent;
    transition:all 0.2s ease-in-out;
    border-radius:var(--radius);
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor::after {
    content:'+';
    color:white;
    width:50px;
    height:50px;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    border-radius:100%;
    border:2px solid white;
    position:absolute;
    text-align:center;
    line-height:44px;
    font-size:21px;
    opacity:0;
    transition:all 0.2s ease-in-out;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor:hover::after {
    opacity:1;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor:hover::before {
    background-color:rgba(90, 210, 156, 0.6);
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor img {
    object-fit: cover;
    width:100px;
    border-radius:var(--radius);
    box-shadow:0 0 2px rgba(0, 0, 0, 0.2);
}

@media all and (min-width:1024px) {
    .drawer-container .drawer-movie-all-info-container {
        height: calc(100% - 35px);
    }
}