..drawer-container {
    height:100vh;
    width:100vw;
    position:absolute;
    z-index: 9999999999;
    margin:auto;
    top:0;
    left:0;
    overflow-y: hidden;
}
.drawer-container .drawer-overlay {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.5);
}
.drawer-container .drawer-movie-all-info-container {
    height:90%;
    width:100%;
    top:10%;
    background-color:white;
    overflow-y:auto;
    position:relative;
    z-index:3
}
.drawer-container .close-drawer {
    position:sticky;
    content:'';
    top:0;
    height:35px;
    width:100%;
    background-color:white;
    border-radius:var(--radius) var(--radius) 0 0;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999999999999;
}
.drawer-container .close-drawer span {
    width:40px;
    height:6px;
    border-radius:var(--radius);
    background-color:rgba(0, 0, 0, 0.2);
}
.drawer-container .drawer-movie-all-info-container .banner-link-rating-container {
    top:0;
    height:300px;
    width:100%;
    transition:height 0.2s ease-in-out;
}
.drawer-container .drawer-movie-all-info-container .button {
  width: fit-content;
  line-height:28px;
  height:30px;
  display: flex;
  align-items: center;
  font-size:14px;
}
.drawer-container .drawer-movie-all-info-container .button .drawer-play-icon  {
    background-image:url('../images/play-icon.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:16px;
    width:16px;
    display:inline-block;
    margin-right:5px;
    padding-top:2px;
}

.drawer-container .drawer-movie-all-info-container .drawer-movie-banner {
    height:150px;
    width:100%;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.drawer-container .drawer-movie-all-info-container .drawer-rating-container .star {
    width:18px;
    height:18px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    display:block;
    margin: 0 2px;
}
.drawer-container .drawer-movie-all-info-container .drawer-rating-container .star.full {
    background-image:url("../images/star-full.png");
}
.drawer-container .drawer-movie-all-info-container .drawer-rating-container .star.half {
    background-image:url("../images/star-half.png");
}
.drawer-container .drawer-movie-all-info-container .drawer-rating-container .star.empty {
    background-image:url("../images/star-empty.png");
}
.drawer-container .drawer-movie-all-info-container .drawer-link-rating {
    display:flex;
    width:100%;
    height:70px;
    justify-content:space-between;
    align-items:center;
    padding: 20px 15px 20px 10px;
    background-color:white;
    position:sticky;
    top:-2px;
}
.drawer-container .drawer-movie-all-info-container .drawer-link-rating .drawer-rating-container {
    width:130px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.drawer-container .drawer-movie-all-info-container .drawer-link-rating .drawer-rating-container .global-rating {
    margin-left:10px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-info-container {
    padding:0 15px;
    margin-top:15px;
    margin-bottom:30px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-info-container span {
    display:block;
    margin-bottom:20px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-info-container p {
    margin-block-end:0px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting {
    padding:0 15px;
    margin-bottom:100px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting h5 {
    text-transform:uppercase;
    margin-bottom:30px;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor-container {
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor {
    width:100px;
    height:150px;
    margin:7px;
    border-radius:var(--radius);
    background-color:rgba(0, 0, 0, 0.3);
}
.drawer-container .drawer-movie-all-info-container .drawer-movie-casting .drawer-actor img {
    object-fit: cover;
    width:100px;
    border-radius:var(--radius);
    box-shadow:0 0 2px rgba(0, 0, 0, 0.2);
}
