.headerHome .logo {
  display: block;
  margin: 30px auto;
  width: 250px;
}

.headerHome h1 {
  font-weight: 500;
  font-size: 24px;
  margin-top: 50px;
  padding: 0 10px 0 10px;
  color: var(--darkTextColor);
}

.headerHome .borderBottom {
  display: block;
  width: 19px;
  margin: 40px auto 0;
  border-bottom: 2px solid var(--darkTextColor);
}

.headerHome {
  text-align: center;
}

@media only screen and (max-width: 374px){
  .headerHome .logo {
    margin: 0 auto;
  }

  .headerHome .borderBottom {
    display: none;
  }
}

@media only screen and (max-width: 1023px){
  .headerHome h1.big-screens {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .headerHome .logo-white {
    display: none;
  }
}

@media only screen and (min-width: 1024px){
  .headerHome h1.small-screens, .headerHome span.borderBottom {
    display: none;
  }

  .headerHome .logo {
    display: none;
  }

  .headerHome .logo-white {
    display: block;
    width: 143px;
  }

  .headerHome {
    width: 40%;
    height: 100%;
  }
}
