.home .centered {
  text-align: center;
}

.home Button {
  width: 220px;
}
.home .centered-title {
  text-align:center;
  margin-top:50px;
  font-size:18px;
}
.home div:nth-of-type(3) .list-category::after {
  width:calc(100% - 150px);
  left:150px;
}