/* TITLES */
.list-container {
    padding:20px;
    max-width: 600px;
    margin: 0 auto;
}
.list-container h2, .list-container .list-category {
    color:#333333;
}
.list-container h2 {
    font-size:24px;
    font-weight:500;
    text-align:center;
    margin-block-end: 0px;
    margin: 50px 0 50px 0;
}
.list-category {
    text-transform:uppercase;
    font-weight:700;
    font-size:15px;
    position:relative;
    margin-block-end: 20px;
}
.list-category::after {
    content:'';
    width:calc(100% - 92px);
    height:1px;
    background-color:#333333;
    top:50%;
    transform:translateY(-50%);
    position:absolute;
    left:92px;
}

/* CAROUSEL */
.carousel-inner {
    width:70%!important;
    margin:auto;
}
.carousel-control-prev, .carousel-control-next {
    background-color:rgba(102, 198, 155, .7);
    height: 80%;
    top: 50%!important;
    transform: translateY(-50%);
    width: 12%!important;
}
.carousel-control-prev {
    border-radius: 10px 0px 0px 10px;
}
.carousel-control-next {
    border-radius: 0px 10px 10px 0px;
}
.carousel-item {
    height: 135px;
    position:relative;
    border-radius: 15px;
    cursor: pointer;
    transition:all 0.2s ease-in-out;
}
.carousel-item:after {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    content:'';
    background-image:linear-gradient(45deg, rgba(0, 0, 0, 0) 60%, rgba(239, 239, 239, 0.3) 80%);
    background-size:150%;
    background-repeat:repeat;
    transition:all 0.2s ease-in-out;
}
.carousel-item:hover:after {
    background-size:100%;
}
/*.carousel-item::after {
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.8) 22.22%, rgba(128, 128, 128, 0.5) 75.69%, rgba(255, 255, 255, 0) 100%);
    top:0;
}*/
.carousel-caption h3 {
    margin-block-end:0px;
    line-height: 22px;
}
.carousel-caption.d-none {
    display:block!important;
}
.clickable-list {
    position:absolute;
    height:100%;
    width:100%;
    z-index:999999;
    transition:all 0.2s ease-in-out;
    background:linear-gradient(to right, rgba(102, 198, 155, 0), rgba(102, 198, 155, 0))
}
.clickable-list.selected-list {
    background: linear-gradient(to right, rgba(102, 198, 155, 0.7), rgba(102, 198, 155, 0.7));
}
.carousel-item img {
    position: absolute;
    width: 100%;
}