.result {
  height: 100%;
}
.result .centered {
  text-align: center;
}

.result div:nth-of-type(4) .list-category::after {
  width:calc(100% - 150px);
  left:150px;
}
.result h2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top:50px;
}
.result h2.subtitle {
  margin-top: 100px;
  margin-bottom: 70px;
  padding: 0 30px;
}
.result .matched-movie-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.result .matched-movie-container .matched-movie {
  width: 140px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: var(--radius);
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.result .matched-movie-container .matched-movie::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  border-radius: var(--radius);
}
.result .matched-movie-container .matched-movie::after {
  content: "+";
  color: white;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  text-align: center;
  line-height: 44px;
  font-size: 21px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.result .matched-movie-container .matched-movie:hover::before {
  background-color: rgba(90, 210, 156, 0.6);
}
.result .matched-movie-container .matched-movie:hover::after {
  opacity: 1;
}
.empty-sidebar-info-desktop {
  position:fixed;
  right:0;
  width:30vw;
  height:100%;
  background-color:grey;
  top: 0;
  max-width: 500px;
  box-shadow:0 0 3px lightgrey;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image:url('../images/movie-match-grayscale.svg');
  background-position:center;
  background-size:200px;
  background-repeat:no-repeat;
  cursor: default;
}
.empty-sidebar-info-desktop h3 {
  color:white;
  text-align:center;
}

.result .button {
  margin-bottom: 50px;
}

.result .list-container h3.list-category, .result .trendlist-container h3.list-category {
  color: var(--darkTextColor);
}

.result .list-category::after {
  background-color: var(--darkTextColor);
}

@media only screen and (max-height: 668px) {
  .result h2.subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .result .centered {
    width: 70vw;
    max-width: calc(100vw - 1000px);
    margin: auto;
    min-width: 450px;
  }
  .result .list-container,
  .result .trendlist-container {
    max-width: 450px;
  }
  .drawer-overlay, .drawer-container, .drawer-movie-all-info-container {
    display:none;
  }
  body.js-no-scroll {
    overflow-y:scroll;
  }
}
@media only screen and (max-width:1024px) {
  .empty-sidebar-info-desktop {
    display:none;
  }
}
