.user-list-container {
  position: relative;
  height: calc(100vh - 77.5px);
}
.user-list-container .centered {
  text-align: center;
}
.user-list-container .user-session {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.user-list-container .pop-up-user-session {
  background-color: rgba(102, 198, 155, 0.9);
  width: 230px;
  margin: auto;
  text-align: center;
  position: absolute;
  top: calc(50% - 100px);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: var(--radius);
  animation-name: displayPopUp;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 9999999999;
  visibility: hidden;
  padding: 5px 0;
}
.user-list-container .pop-up-user-session h2.subtitle {
  color: white;
  line-height: 46px;
  margin-block-end: 0px;
}
.user-list-container h3.session-film-name {
  text-align:center;
  font-size: 1.2rem;
}
.new-match {
  width: 100%;
  height: 100px;
  margin: auto;
  color: white;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: -100px;
  left: 0;
  transition: all 0.2s ease-in-out;
  animation-name: displayPopUpFromTop;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  z-index: 9999999999;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 430px;
}
.new-match h3 {
  color: white;
  z-index: 9999;
  margin-right: 20px;
}
.new-match img {
  height: 80px;
  z-index: 9999;
}
.new-match::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(102, 198, 155, 0.9);
  z-index: 9;
}

.unvisible {
  display: none;
}
@keyframes displayPopUp {
  0% {
    opacity: 0;
    visibility: visible;
  }
  10% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes displayPopUpFromTop {
  0% {
    top: -100px;
  }
  20% {
    top: 0;
  }
  80% {
    top: 0;
  }
  100% {
    top: -100px;
  }
}

@media all and (min-width: 768px) {
  .new-match {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media all and (max-width:1023px) {
  .sidebar-info-container {
    display:none;
  }
}
@media all and (min-width:1024px) {
  .session-button-container button.session-button.more-info {
    display:none;
  }
  .user-list-container {
    width:40vw;
    min-width:40vw;
    max-width:calc(100vw - 1000px);
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    height:auto;
  }
}
